{:app-name "saml20-clj"
 :port 8080
 :base-uri "http://127.0.0.1:8080"
 :idp-uri "http://www.path.to/the/idp"
 :idp-cert "....=="
 :keystore-file "keystore.jks"
 :keystore-password "..."
 :key-alias "demo"
 }
